torchcrepe
praat-parselmouth==0.4.1
scikit-image
ipython
ipykernel
pyloudnorm
webrtcvad
matplotlib
h5py
einops
resemblyzer
torchmetrics==0.5
pytorch_lightning==1.3.3

# torch==1.8
# torchaudio==0.8
# torchvision==0.9